*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.all{
    background-color: rgb(173, 177, 177);
}

h1{
    font-style: italic;
}

.colors{
    border: none;
    border-radius: 50%;
    height: 1.5rem;
    width: 2rem;
}

.button{
    padding: 0.6rem;
    border-radius: 0.8rem;
    border: none;
    background-color: gray;
}

.button:hover{
    transform: scale(1.1);
}