*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.all{
    background-color: rgb(173, 177, 177);
    font-weight: bold;
}

h1{
    font-style: italic;
    font-weight: bolder;
}

.colors{
    border: none;
    border-radius: 50%;
    height: 1.5rem;
    width: 2rem;
}

label{
    color: white;
}

select{
    padding: 0.4rem 0.6rem;
    border-radius: 0.8rem;
    border: none;
    background-color: gray;
    font-weight: bold;
}

.button{
    padding: 0.4rem 0.6rem;
    border-radius: 0.8rem;
    border: none;
    background-color: gray;
    font-weight: bold;
}

.button:hover{
    transform: scale(1.1);
}