*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.all{
    background-color: rgb(173, 177, 177);
}

h1{
    font-style: italic;
}

.colors{
    border: none;
    border-radius: 50%;
    height: 1.5rem;
    width: 2rem;
}